/** Neosnooker's theme variables **/

:root {
  --theme-primary: #2b384f;
  --theme-secondary: #32415c;
  --theme-tertiary: #3a4b69;
  --theme-quaternary: #3f5273;
  --theme-active: #4e5c75;

  --color-accent: #70a4ff;
  --color-accent-dark: #364b80;
  --color-accent-complementary: #ffcb70;

  --text-heading: #f0f4fa;
  --text-subheading: #e6e9f0;
  --text-normal: #dce0ea;
  --text-muted: #c5cbd8;
  --text-subtle: #b0b7c4;
}

/** Utility variables **/

:root {
  --font-sans-serif: 'Noto Sans', 'DejaVu Sans',
    'Helvetica Neue',
    Helvetica,
    sans-serif;
  --font-monospace: 'Noto Sans Mono',
    'DejaVu Sans Mono',
    'Andale Mono',
    monospace;
}

/** Utility classes **/

@media screen and (min-width: 640px) {
  :root {
    --breakpoint: 600px;
  }

  .container,
  .container-sm {
    width: var(--breakpoint);
  }
}

@media screen and (min-width: 768px) {
  :root {
    --breakpoint: 720px;
  }

  .container,
  .container-md {
    width: var(--breakpoint);
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --breakpoint: 960px;
  }

  .container,
  .container-lg {
    width: var(--breakpoint);
  }
}

@media screen and (min-width: 1280px) {
  :root {
    --breakpoint: 1200px;
  }

  .container,
  .container-xl {
    width: var(--breakpoint);
  }
}

@media screen and (min-width: 1536px) {
  :root {
    --breakpoint: 1440px;
  }

  .container,
  .container-xxl {
    width: var(--breakpoint);
  }
}

/**
 * Changes the font family to sans-serif fonts.
 *
 * var(--font-sans-serif, ""): The custom sans-serif fonts to use.
 */
.font-sans-serif,
body {
  font-family: var(--font-sans-serif);
}

/**
 * Changes the font family to monospace fonts.
 *
 * var(--font-monospace, ""): The custom monospace fonts to use.
 */
.font-monospace,
pre,
samp,
kbd,
code {
  font-family: var(--font-monospace);
}

/** Style **/

body {
  background-color: var(--theme-primary);
  color: var(--text-normal);
  font-size: 1.25rem;
}

a {
  color: var(--color-blue);
}

a:hover {
  color: var(--color-light-blue);
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 20px;
}

ul,
ol,
dd {
  margin-left: 2rem;
}